body{
  font-family: 'Montserrat';
  text-align: center;
}

h1 ,h2, h3, h4, h5, h6{
  font-family: font-family:'Montserrat';
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}




/* Headings */

.Big_Heading{
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.container-fluid{
  padding: 7% 15%;
}


/* Navigation bar */

.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;

}
.navbar-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.download-button{
  margin: 5% 3% 5% 0;
}


/* Title */




#title .container-fluid{
  padding: 3% 15% 7% ;
  text-align: left;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
}




/* feature section */


.feature_h3{
  font-size: 1.5rem;
}

.features-box{
  padding: 5%;
}


.features-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.features-icon:hover{
  color: #ff4c68;
}





/* testimonials */

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-image{
  width: 10%;
  border-radius:100%;
  margin:20px;
}



#press{
  background-color:#ef8172;
  padding-bottom: 3%;
}

.press-image{
  width:15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing{
  padding: 100px;
}

.pricing_text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing_h3{
  font-size: 1.5rem;
}
.pricing-colom{
  padding: 3% 2%;
}


/* cta */


.ft-btn{
  margin: 25px 10px;
}



/* footer */


.ft_icon{
  margin: 0 10px;
}


@media(max-width:1028px){

  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }

}
